name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-linux:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: requirements
      run: sudo apt-get install -y libgl-dev libcurl4-openssl-dev libfreetype6-dev libxinerama-dev libwebkit2gtk-4.0-dev
    - name: make
      run: make -j3 -C Builds/LinuxMakefile CONFIG=Release
    - name: upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: linux-release
        path: Builds/LinuxMakefile/build/life_cpp
