name: C/C++ CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-linux:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: requirements
      run: sudo apt-get install -y libgl-dev libcurl4-openssl-dev libfreetype6-dev libxinerama-dev libwebkit2gtk-4.0-dev
    - name: make
      run: make -j2 -C Builds/LinuxMakefile CONFIG=Release
    - name: upload artifacts
      uses: actions/upload-artifact@v2
      with:
        name: linux-release
        path: Builds/LinuxMakefile/build/life_cpp

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup MSBuild.exe
        uses: warrenbuckley/Setup-MSBuild@v1
      - name: MSBuild
        working-directory: Builds/VisualStudio2019
        run: msbuild life_cpp_App.vcxproj -m:2 -nologo -p:Configuration=Release -p:Platform=x64
